@import '../../../styles/config';
.navbar {
    // @include set-background($primary-color);
    margin: 1rem;
    border-radius: 20px;
    @include pop($background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    .clickable, a {
        font-size: 1.4rem;
        transition: all 0.3s;
        // font-weight: bold;
        &:hover {
            color: $secondary-color;
            transform: scale(1.1);
        }
    }

    .navLinks {
        list-style: none;
    }

    li {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 15px;
        margin: 0rem 1rem;
        @include pop($background-color);
    }
    a {
        @include set-background($background-color);
    }
}

@media screen and (max-width: 500px) {
    .brand {
        display: none;
    }
}