@import '../../../styles/config';
.navbar {
    // @include set-background($primary-color);
    margin: 1rem;
    border-radius: 50px;
    @include pop($background-color, 5px);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    // justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    .clickable, a {
        font-size: 1.4rem;
        transition: all 0.3s;
        // font-weight: bold;
        &:hover {
            color: $third-color;
            transform: scale(1.1);
        }
    }

    .active {
        color: $third-color;
        transform: scale(1.1);
    }

    .navLinks {
        list-style: none;
        a {
            display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 30px;
        margin: 0rem 1rem;
        @include pop($background-color, 5px);
        }
    }
    a {
        // @include set-background($background-color);
        color: lighten($color: $secondary-color, $amount: 10%);
    }
    &>button {
        border-radius: 20px;
        justify-self: right;
    }
}

@media screen and (max-width: 800px) {
    .navbar{
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "brand brand"
        "links contact";
        .brand {
            // display: none;
            grid-area: brand;
        }
        .navLinks {
            grid-area: links;
            &>* {
                margin: 0.5rem;
            }
        }
    }
}