@import '../../../styles/config';
.navbar {
    @include set-background($primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    .clickable, a {
        @include set-background($primary-color); 
        transition: all 0.3s;
        &:hover {
            color: $secondary-color;
            transform: scale(1.1);
        }
    }

    .navLinks {
        list-style: none;
    }

    li {
        display: inline-block;
        padding: 0px 20px;   
    }
}