@import '../../../../styles/config';
.dailyTrendsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    width: 100%;
}
.dailyTrendBox {
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem;
    @include pop($background-color, 6px);
    font-family: 'Mukta';
    a {
        color: lighten($color: $secondary-color, $amount: 5%);
    }
}
.dailyTrendsHeader {
    color: lighten($color: $secondary-color, $amount: 5%);
    padding: 10px 20px;
    
}
.dailyTrendBox ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    // background-color: $secondary-color;
    border-radius: 20px;
    padding: 0.5rem;
    // white-space: nowrap;
    
}
.dailyTrendBox ul li {
    padding: 0.2rem 0.8rem;
    transition: transform 0.5s;
    display: flex;
    justify-content: space-between;
    div {
        white-space: nowrap;
        a {
            margin: 0 3px;
        }
    }
    
}
.dailyTrendBox ul li:hover {
    transform: scale(1.1);
    z-index:100;
    background: lighten($color: $secondary-color, $amount: 10);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    color: #fff;
    a {
        color: white;
    }
}