@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
$primary-color: #464646;
$secondary-color: rgb(31, 96, 170);
$third-color: rgb(255, 197, 104);
$background-color: #f5f4f4;
$text-font: 'Mukta', sans-serif;


@function set-text-color($color) {
    @if (lightness($color) > 70) {
        @return #333;
    }@else {
        @return #fff;
    }
}

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

@mixin pop ($color, $offset: 10px, $blur-radius: 10px) {
    box-shadow: $offset 1.5*$offset $blur-radius rgba(darken($color: $color, $amount: 10%), 0.8), -0.4*$offset -1*$offset $blur-radius rgba(lighten($color: $color, $amount: 20%), .6);
}

@mixin dent($color, $offset: 10px, $blur-radius: 10px) {
    box-shadow: inset $offset 1.5*$offset $blur-radius rgba(darken($color: $color, $amount: 10%), 0.8), inset -0.4*$offset -1*$offset $blur-radius rgba(lighten($color: $color, $amount: 20%), .6);
}